.testimonial{
    margin: 80px auto;
    padding: 0 80px;
    position: relative
}
.back-btn, .naxt-btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #212EA0;
}
.back-btn{
    right: auto;
    left: 0;
}
.slider{
    overflow: hidden;
}
.slider ul{
    display: flex;
    width: 200%;
    overflow-x: hidden;
    transition: 0.5s;
}
.slider ul li{
    list-style: none;
    width: 50%;
    padding: 20px;
}
.slide{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    padding: 40px;
    border-radius: 10px;
    color: #3e3d3d;
    line-height: 1.4;
    background-color: #ffffffba;
}

.slide img{
    width: 65px;
    border-radius: 50%;
    border: 3px solid #212EA0;
    margin-right: 10px;
}

.user-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}
.user-info h3{
    color: #212EA0;
}


/*------------media queries------------*/
@media (max-width: 800px){
    .testimonial{
        padding: 0 40px;
    }
    .naxt-btn, .back-btn{
        padding: 10px;
        width: 35px;
    }
    .testimonial ul li{
        padding: 10px;
    }
    .slide{
        padding: 10px;
    }
    .slide img{
        width: 50px;
        border: 3px solid #212EA0;
    }
}

@media (max-width: 600px) {
    .user-info{
        font-size: 13px;
        margin-bottom: 10px;
        display: block;
    }
    .user-info h3{
        font-size: 16px;
    }
    .slider p{
        font-size:12px;
    }
}